<!-- Config file for the game -->

<config>
  <app>
    <title>Development</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera x="-900" y="-200"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <player>
    <position x="300" y="700"/>
    <speed value="2"/>
  </player>

  <map>
    <folder>Assets/maps/</folder>
  </map>
</config>