<!-- Config file for the game -->

<config>
  <app>
    <title>Metamorphosis</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <camera x="-900" y="-200"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <player>
    <acceleration x="2" y="22"/>
    <gravity value="1" />
    <speed x="0" y="0" />
    <max_speed x="10" y="22"/>
    <hitbox w="30" h="96"/>
  </player>

  <file_system>
    <path>data.zip</path>
    <loadTo>save_game.xml</loadTo>
    <saveTo>save_game.xml</saveTo>
  </file_system>

  <map>
    <folder>Assets/maps/</folder>
  </map>
</config>